---
import "../styles/global.css";
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <nav class="bg-white shadow-lg">
        <ul class="flex justify-around p-4 space-x-4">
            <li><a href="/personnes" class="text-blue-600 hover:text-blue-800 font-semibold">Liste des personnes</a></li>
            <li><a href="/films" class="text-blue-600 hover:text-blue-800 font-semibold">Liste des films</a></li>
        </ul>
    </nav>
    <main class="p-6 max-w-6xl mx-auto">
      <slot />
    </main>
  </body>
</html>
